* {
    font-size: 20px;
}

h1, h2 {
    font-family: "Chela One";
}

img {
    max-width: 100%;
}

header {
    height: 200px;
}

.iconandtitlecontainer {
    display: flex;  
    flex-flow: row nowrap;
    justify-content: center;
    gap: 10px;
}

.iconandtitlecontainer img {
    width: 100px;
    height: 100px;
}

.iconandtitlecontainer h1 {
    margin-top: 40px;
    font-size: 45px;
}

.searchbarcontainer {
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.search {
    margin-top: 15px;
    max-width: 960px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px gray;
    border-radius: 5px;
    margin-bottom: 15px;
    height: 40px;
    overflow: hidden;
}

.search input {
    flex: 1;
    height: 100%;
}

.search button.searchicon {
    background: none;
    border: none; /* Remove default button border */
    padding: 8px; /* Adjust for better icon spacing */
    display: flex;
    align-items: center; /* Center the icon vertically */
    justify-content: center; /* Center the icon horizontally */
    cursor: pointer; /* Change the cursor to pointer for better UX */
}

.search button.searchicon img {
    width: 20px; /* Adjust icon size as needed */
    height: 20px;
}

.recipecontainer {
    display: flex;
    flex-flow: column wrap;
    border: 1px black solid;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

.tagcontainer button{
    border: 1px black solid;
    background-color: white;
    padding: 10px;
}


h2 {
    margin-bottom: 0;
}

.social {
    margin-top: 30px;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    gap: 10px;
}

.social a{
    width: 50px;
}

.iconattribution {
    font-size: 0.6em;
    display: block;
    text-align: center;
}

@media screen and (max-width: 600px){
    .recipecontainer p {
        display: none;
    }

    .recipecontainer img {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 600px) {
    .recipecontainer {
        flex-flow: row nowrap;
    }

    .recipecontainer img {
        width: 50%;
        object-fit: cover;
        margin-right: 20px;
    }

    .recipedetailscontainer {
        display: flex;
        flex-direction: column;
    }

    .recipecontainer p {
        display: block;
    }
}

@media screen and (min-width: 960px){
    .search {
        max-width: 960px;
        margin: 0 auto;
        margin-bottom: 15px
    }

    .recipecontainer {
        flex-flow: row nowrap;
        max-width: 960px;
        margin: 0 auto;
    }

    .recipecontainer img {
        width: 50%;
        object-fit: cover;
        margin-right: 20px;
    }
}
